# Node modules
node_modules/

# Environment variables
.env

# Logs
*.log

# Build files
build/

# Windows system files
Thumbs.db
Desktop.ini

# Temporary files
*.tmp

# Editor directories
.vscode/
.idea/
